body {
    background-color: white;
    /*background-image: url("http://news.psu.edu/sites/default/files/styles/threshold-992/public/4A-KIC-4.jpg?itok=m3hZ9ukR");*/
    /*background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;*/
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
  border-top: 1px solid rgb(68, 132, 206);
  padding-top: 20px;
  margin-top: 20px;
  color: #999
}

.p {
  text-align: center;
  padding-top: 120px;
}

.p a {
  text-decoration: underline;
  color: blue;
}

#title {
    color: white;
    font-family: "arial", Sans-serif;
    padding:0%;
}

#subtitle{
    font-family: "arial", Sans-serif;
    font-style: italic;
    color: white;
}

.hero-text {
    color: white;
    background-color: rgba(68, 132, 206, .8);
    padding: 3%;
    width: 100%;
}
 
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    padding: 0%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    margin: 0%;
}

a:link {
    text-decoration: none;
    color: white;
    font-family: "arial", Sans-serif;
}

#title-text{
    color: rgb(68, 132, 206);
    background-color: white;
    border-top: 1px solid rgb(68, 132, 206);
    border-bottom: 1px solid rgb(68, 132, 206);
    padding: 5px;
}